<div class="welcome-message">
  <h1>Ласкаво просимо до нашої бібліотеки!</h1>
  <p>Ми раді запропонувати вам широкий вибір книжок за різними тематиками та жанрами.
    У нас ви знайдете як класичні твори, так і новинки сучасної літератури.</p>
</div>